body {
    font-size: 15px;
    font-family: "Open Sans", sans-serif;
    font-weight: normal;
    font-style: normal;
    line-height: 1.6;
    box-sizing: border-box;
}
.my-web{
    background-image: url(images/firstbackground.png);
    background-size: cover;
     background-color: rgba(0, 0, 0, 0.4);
     background-blend-mode:darken;
     height:140vh;
 
}
 /* background image */
.sec1{
    display: flex;
 justify-content: space-between;
 align-items: center;
padding-left: 270px;
padding-right:370px ;
}
 
 
.contact-info a{
padding-left: 13px;
   align-items: center;
color:white;
text-decoration: none;
 
 
}
.contact-info i{
    padding-top: 18px;
    margin-right: 5px;
}
 .social-icons  {
  color: #fff;
  padding-top: 8px;
 
  text-decoration: none;
}
.social-icons a {
    color:white;
    padding: 10px;
}
 
.mysearch {
    padding:15px;
    border-left: 1px solid white;
    border-right: 1px solid white;
}
 
 
/* belowtop */
 
/* navbar */
.my-logo {
    display:flex;
    flex-direction: row;
}
.my-content {
    padding-left: 220px;
    padding-top: 10px;
}
.nav-content ul li {
    position:relative;
    list-style-type: none;
    padding-top: 10px;
}
.nav-content ul li a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  padding: 2px;
  display: inline-block;
  transition: color 0.3s;
}
/* Active Item */
 
.list-content {
    position: relative;
 
}
.list-content1 {
    position: relative;
    padding-left: 80px;
 
}
.dropdown {
    display: none;
    position: absolute;
   width: 180px;
    border:2px solid white;
    top: 40px;
    background: rgb(194, 192, 192);
    padding-left: 0;
}
.list-content:hover .dropdown {
 
    display: block;
     border-top:4px solid red;
}
.list-content:hover  i {
  transform: rotate(180deg);
}
.dropdown:hover  li a {
    height: 3vh;
    background-color: rgb(107, 208, 233);
    transition: 1s ease-out;
}
.dropdown li{
    height:3vh;
   width:8vw;
   bottom: 0;
   
}
.my-button {
    display: flex;
    border:2px solid rgb(243, 87, 87);
    height:4vh;
    width:7vw;
    margin-top: 18px;
    margin-left: 150px;
    padding-left: 27px;
    padding-top: 10px;
    background: rgb(248, 85, 64);
    color:white;
}
/* textcontent-design */
 
 
.row {
    display: flex;
    margin-top:80px;
}
.big-text{
    font-size: 60px;
    color: white;
    font-weight: 900;
}
.left-column {
   
    float:left;
   margin-left: 300px;
}
.card h6{
    color:rgb(245, 94, 94);
    font-weight: 800;
    font-size:15px;
}
.card p {
    color:white;
}
 
.right-column {
    width:50%;
    margin-right: 350px;
   
   
   
 
}
.new-btn {
   margin-top:70px;
}
.btn1{
    border:1px solid rgb(223, 89, 89);
    background: rgb(247, 59, 59);
    color: white;
    padding: 15px;
    height:5vh;
    width:7vw;
    margin-right: 30px;
}
.btn2{
    border:1px solid #0791be;
    background: #0791be;
    color: white;
    padding: 15px;
    height:5vh;
    width:9vw;
}
.my-form{
    display:flex;
    justify-content:center;
    align-items:center;
 
}
.booking{
background-color:#0791be;
padding:20px;
color:white;
height:500px;
width:300px;
justify-content: center;
 
}
.booking label{
    font-size:18px;
    display:block;
    margin-bottom:5px;
    margin-left:15px;
 
}
.booking .first-label {
    width:250px;
    height:4vh;
    margin-left:15px;
}
.booking .second-label {
    width:250px;
    height:4vh;
    margin-left:15px;
}
.booking input{
    padding:8px;
    margin-bottom:15px;
    border:none;
    font-size:14px;
}
.my-date{
    width:250px;
    height:4vh;
    margin-left:15px;
}
.my-date1{
    width:250px;
    height:4vh;
    margin-left:15px;
}
.booking .btn{
    background-color:orangered;
    color:white;
    border:none;
    font-size:14px;
    width:270px;
   height:5vh;
   margin-top: 10px;
   margin-left: 10px;
 
}
.btn:hover{
    background-color: rgb(81, 81, 185);
}
.second-bar p{
   text-align: center;
   margin-top: 90px;
   color:rgb(236, 111, 111);
   font-weight: 700;
   
}
 .second-head {
    text-align: center;
    font-size: 40px;
    color:rgb(2, 2, 77);
    font-weight: 900;
    margin-top: 8px;
 }
 .lug-icon p{
    color:#0791be;
    margin-top: 0px;
    justify-content: center;
 
 }
 /* imagegallery */
 .image-gallery{
    display:flex;
    gap:10px;
    justify-content: center;
   
 }
.my-gallery {
    position:relative;
    background-color: white;
   box-shadow: 10px 10px 10px rgb(209, 208, 208);
   width: 300px;
   text-align: center;
    padding: 10px;
}
.my-gallery a {
    font-size: 25px;
    font-weight: 700;
  text-decoration: none;
        margin: 10px;
         transition:color 0.4s;
}
.my-gallery a:hover{
    color:rgb(243, 87, 87)
}
.my-gallery img {
    height:38vh;
    width:15vw;
    filter:brightness(50%);
}
.my-gallery .country-name {
    margin-top: 1px;
    display: block;
      font-size: 15px;
}
.customise-icon {
position: absolute;
padding-left: 280px;
top:15px;
right:29px;
color: white;
}
.btn-again {
      background-color:orangered;
    color:white;
    border:none;
    font-size:14px;
    width:270px;
   height:5vh;
   margin-top: 55px;
   margin-left: 680px;
 
}
.btn-again:hover {
    background-color: #0791be;
}
/* gridsection */
.image-gridtype {
    display: inline-grid;
    grid-template-columns: auto auto;
 grid-column: 1 / 3;
  grid-row: 1 / 2;
  color: white;
  padding: 30px;
 
  z-index: 2;
  align-self: center;
}
 
.image-gridtype .my-box {
    position: relative;
    height:270px;
    width: 190px;
    border:2px solid #0791be;
    color: white;
    background-color:  #0791be;
    text-align: center;
    padding-top: 20px;
    font-size: 20px;
    font-weight: 700;
    border: 10px solid white;
   box-shadow: 10px 10px 10px rgb(209, 208, 208);
}
.third-button{
       background-color:rgb(245, 86, 29);
    color:white;
    border:none;
    font-size:14px;
    width:130px;
   height:4vh;
   margin-top: 20px;
 
}
.main-grid {
 margin-top: 90px;
  gap: 20px;
  position: relative;
  padding: 40px;
  margin-left: 220px;
 
 
 
}
 
.first-image img{
    position: absolute;
    right:20px;
    width:350px;
    height:28vh;
    margin-left:2px;
}
.second-image img{
    width:300px;
    height: 38vh;
    margin-right: 10px;
}
.third-image img {
    margin-top:2px;
}